.margetop {
    margin-top: 90px;
}

.t1 {
    background-color: rgb(108, 172, 245) !important;
}

.t2 {
    background-color: rgb(147, 245, 147) !important;
}

.t3 {
    font-weight: bold !important;
}

.t4 {
    background-color: rgb(253, 19, 19) !important;
}

.t6 {
    color: white !important;
}

